/*
  Colors
  3e717b
 #3e717b*/

#site-title{
  padding-top: 200px;
  padding-bottom: 80px;
  font-weight:lighter;
  font-size: 64px;
  text-shadow: 2px 2px 8px rgb(0,0,0);
}
body{
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;

}


.content{

  color: white;
}

.sec-text{
  color: black;
  margin-top: 40px;
  font-size: 19px;
  padding:0px 50px;

}
.section-header-lightBg{
  margin-left: -15px;
  color: white;
  background-color: #235121 ;
  display: inline-block;
  padding: 4px 8px;
}

.section-header-darkBg{
  color: white;
  background-color: #3e717b;
  display: inline-block;
  padding: 4px 8px;
}

.main-nav{
  height: 80px;
  border-bottom: solid black 1px;
}



.jumbotron{
  padding: 0;
  border-radius: 0px;
  background-image: url('images/walking_cover.jpg');
  border-bottom: 2px solid #b1b1b1;
  height: 1000px;
   background-position: 0% calc(50%) ;
  background-size:cover;
  background-repeat: no-repeat;
  background-repeat: top 10px;
  margin-bottom: 0;
  width: 100%;
}
.shadow-line{
  margin-top:black;
  margin: 0;
}
.sec{
    margin-top: 80px;
    margin-bottom: 60px;
}
.about-sec{
  margin-top: 100px;
  margin-left: 12px;
  margin-right: 12px;
}



.sidebar{
  width: 400px;
  height: 100%;
  background-color:rgba(35, 81, 33,.6);
  background-color:rgba(6, 61, 15,.4);
  text-shadow: 2px 2px 8px rgb(0,0,0);

  /*border-right: 1px solid rgb(107,174,125)*/
}


.port-img{
  width:100%;
}
.sidebar li{
  list-style: none;
  font-size: 24px;
  padding: 20px 0px;
  transition: all .2s ease-in-out;
}

.sidebar li:hover{
  cursor:pointer;
  transform: scale(1.1);
}

.sec-body{
  margin-top: 40px;
}
img{
  border: 3px solid #235121;
  box-shadow: 1px 1px 5px 2px #b5b5b5
}

.about-img{
  width:100%;
  border: 8px solid #3e717b
}


.img-row{
  width: 100%;
  max-height: 260px;
  min-height: 260px;
}

form{
  margin-top: 20px;
  margin-bottom: 80px;
}
.email-button{
  font-size: 24px;
  background-color: #235121;
  color: white;
  border: 0;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 2px;
}
.email-input{
  font-size: 24px;
  width: 800px;
  height: 40px;
}

.padding-0{
  padding-left:0;
  padding-right:0;
}

.left-side{
  border-right:0px;
}
.right-side{
  border-left:0;
}

.middle{
  border-left: 0;
  border-right: 0;
}

.top-pad {
  margin-top: 40px;
}

.shadowed{
  box-shadow: 1px 1px 5px 2px #b5b5b5
}

.testamonial-sec p{
  font-style:italic;
}
.test-name{
  text-align: right;
}

#top-btn{
  position:fixed;
  top: 20px;
  left: 30px;
  z-index: 10000
  display: block;

}
